table.adv{
    width: 90%;
    border: 1px solid lightblue;
    margin: 0 5% 1em;
    .adv-research {
        font-size: 0.8em;
    }
    .adv-title {
        font-size:  2em;
        font-weight: bold;
        text-align: center;
        padding-left: 1em;
        text-transform: capitalize;
    }
    tr:nth-child(even) {
        color: #333;
        td.notowned {
            background-color: lightblue;
        }
        td.owned {
            background-color:pink;
        }
        td.buying {
            background-color: mediumseagreen;
        }

    }
    tr:nth-child(odd) {
        color: #333;
        td.notowned {
            background-color: rgb(144, 193, 209);
        }
        td.owned {
            background-color: rgb(236, 170, 181);
        }
        td.buying {
            background-color: rgb(46, 156, 96);
        }
    }
    td {
        white-space: nowrap;
        vertical-align: top;
        padding: 3px 0.35em;
    }
    td.notowned, td.buying {
        cursor: pointer;
    }
    td.adv-level {
        font-weight: bold;
    }
    td.adv-price, td.adv-cred, td.adv-mr  {
        text-align: right;
        font-size: 0.75em;
    }
    td.adv-price {
        font-weight: bold;
    }
    td.adv-preq {
        font-size: 0.65em;
    }
    td.adv-desc {
        white-space: break-spaces;
    }

}