<div class="advance">
    <table class="adv" cellSpacing="0" cellPadding="0">
        <tr>
            <th colspan="6" class="adv-title">
                {{symbol(category)}} {{category}} ({{total}})
            </th>
            <th class="adv-research" colspan="1">
                <span *ngIf="advances[0].researchable && roundService.playerHasIR">
                    10 Cr Research [X]
                </span>
                &nbsp;
            </th>
        </tr>
        <tr *ngFor="let adv of advances" (click)="roundService.buyAdvanceToggle(adv.key)">

            <ng-template [ngIf]="playerService.player.owns(adv.key)" [ngIfElse]="notOwned">
                <td class="adv-level owned">{{adv.key}} - {{adv.name}}</td>
                <td class="owned adv-price">${{adv.points}}</td>
                <td class="owned adv-cred">{{adv.credit}} CR</td>
                <td class="owned adv-mr">{{adv.relief}} MR <span *ngIf="adv.misery">1 MI</span></td>
                <td class="owned adv-desc">{{adv.description}}</td>
                <td class="owned adv-preq">Prerequisite: {{adv.prerequisites}}</td>
            </ng-template>

            <ng-template #notOwned>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-level">{{adv.key}} - {{adv.name}}</td>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-price">${{roundService.cost(adv)}} ({{adv.points}})</td>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-cred">{{adv.credit}} CR</td>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-mr">{{adv.relief}} MR <span *ngIf="adv.misery">1 MI</span></td>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-desc">{{adv.description}}</td>
                <td [ngClass]="roundService.buyCheck(adv.key) ? 'buying' : 'notowned'" class="adv-preq">Prerequisite: {{adv.prerequisites}}</td>
            </ng-template>

        </tr>
    </table>
</div>