<div class="advance">
    <table class="adv" cellSpacing="0" cellPadding="0">
        <tr>
            <th class="adv-research">
                <!--[ ] 10 Cr Research [X]-->
            </th>
            <th colspan="5" class="adv-title">
                &copy; Science (300)
            </th>
        </tr>
        <tr>
            <td class="adv-level">A - Heavens</td>
            <td class="adv-price">30</td>
            <td class="adv-cred">20 CR</td>
            <td class="adv-mr">5 MR</td>
            <td class="adv-desc">Allows transit of one sea as a Costal Province.</td>
            <td class="adv-preq">Prerequisite: -</td>
        </tr>
        <tr>
            <td class="adv-level">B - Human Body</td>
            <td class="adv-price">60</td>
            <td class="adv-cred">20 CR</td>
            <td class="adv-mr">10 MR</td>
            <td class="adv-desc">Reduses Misery one space. Lessens Mystism Mistery.</td>
            <td class="adv-preq">Prerequisite: -</td>
        </tr>
        <tr>
            <td class="adv-level">C - Laws of Matter</td>
            <td class="adv-price">90</td>
            <td class="adv-cred">20 CR</td>
            <td class="adv-mr">5 MR</td>
            <td class="adv-desc">Voids Alchemy and lessens Mystism Mistery.</td>
            <td class="adv-preq">Prerequisite: -</td>
        </tr>
        <tr>
            <td class="adv-level">D - Enlightenment</td>
            <td class="adv-price">120</td>
            <td class="adv-cred">20 CR</td>
            <td class="adv-mr">50 MR</td>
            <td class="adv-desc">Halves Misery Relief price and lessens Mystism Mistery.</td>
            <td class="adv-preq">Prerequisite: -</td>
        </tr>
    </table>

</div>