table.players {
    float: left;
    font-size: 83%;
    margin:0 2em 2em 0;
    td {
        border-bottom: 1px dashed lightblue;
        padding: 1px 2px;
    }
    tr.trodd {
        background-color: #add8e6;
        td {
            border-bottom: 1px dashed lightcyan;
        }
    }
}