<header>
  <h1>Age of Renaissance assistent</h1>
</header>

<nav>
  <ul>
    <li *ngIf="GameService.game == false"><a routerLink="/start" routerLinkActive="active">start</a></li>
    <li *ngIf="GameService.game"><a routerLink="/turn" routerLinkActive="active">turn</a></li>
    <li *ngIf="GameService.game"><a routerLink="/advances" routerLinkActive="active">advances</a></li>
    <li *ngIf="GameService.game"><a routerLink="/players" routerLinkActive="active">players</a></li>
    <li *ngIf="GameService.game"><a routerLink="/end" routerLinkActive="active">end</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
