<header>
  <h1>Age of Renaissance assistent</h1>
</header>

<nav>
  <ul>
    <li *ngIf="GameService.game == false"><a routerLink="/start" >start</a></li>
    <li *ngIf="GameService.game"><a routerLink="/turn" >turn</a></li>
    <li *ngIf="GameService.game"><a routerLink="/advances" >advances</a></li>
    <li *ngIf="GameService.game"><a routerLink="/cities" >cities</a></li>
    <li *ngIf="GameService.game"><a routerLink="/players" >players</a></li>
    <!-- <li *ngIf="GameService.game"><a routerLink="/static" >end</a></li> -->
    <li *ngIf="GameService.game"><a routerLink="/end" routerLinkActive="active">end</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
