<div id="content" *ngIf="PlayerService.player && GameService.game">
<h2>TURN LOG</h2>
<table id="bids" [cellPadding]="0" [cellSpacing]="0" >
    <tr><th [colSpan]="PlayerService.bids.length">Capital bids</th></tr>
    <tr>
        <td *ngFor="let bid of PlayerService.bids">{{bid.name}}<br>{{bid.nation}} ({{bid.$}})</td>
    </tr>
</table>

<br />
<div>
    <h3>Turn {{RoundService.round}}</h3>
    <table id="spending" [cellPadding]="5" [cellSpacing]="5">
        <tr>
            <th>Current Misery index</th>
            <td>{{PlayerService.player.misery.value}}m</td>
        </tr>
        <tr>
            <th>Tokens to spend</th>
            <td>{{RoundService.exploreTokens}}▣</td>
        </tr>
        <tr>
            <th>Written money</th>
            <td>${{spending.startedWith}}</td>
        </tr>
        <tr>
            <th>Current player cash</th>
            <td>${{PlayerService.player.$}}</td>
        </tr>
        <tr>
            <td class="buttons" colspan="2">
                Adjust Cash:
                <button (click)="adjustCash(-10)">-$10</button> &nbsp;
                <button (click)="adjustCash(-5)">-$5</button> &nbsp;
                <button (click)="adjustCash(-1)">-$1</button> &nbsp;
                <button (click)="adjustCash(1)">+$1</button> &nbsp;
                <button (click)="adjustCash(5)">+$5</button> &nbsp;
                <button (click)="adjustCash(10)">+$10</button>
            </td>
        </tr>
        <tr *ngIf="PlayerService.player.owns('V')">
            <th> + Urban Ascendency <button (click)="buyCard()">{{ spending.onCard ? 'Buying card' : 'No extra card' }}</button></th>
            <td>${{spending.onCard}}</td>
        </tr>
        <tr *ngFor="let a of RoundService.advances">
            <td class="tar"> + {{a.name}}</td>
            <td>${{a.cost}}</td>
        </tr>
        <tr *ngIf="spending.onAdvances != 0">
            <th> = On Advances:</th>
            <td>${{spending.onAdvances}}</td>
        </tr>
        <tr>
            <td class="buttons">
                {{RoundService.handSize}} cards (${{spending.onHand}})
                <button (click)="handSize(-1)">- card</button> &nbsp;
                <button (click)="handSize(1)">+ card</button> &nbsp;

            </td>
        </tr>
        <tr *ngIf="spending.onHand > 0">
            <th> + on Hand Stabilization <button (click)="toggleStabilization()">
                {{this.RoundService.payingStabilization ? 'Paying' : 'Miserable'}}
            </button></th>
            <td>${{RoundService.payingStabilization ? spending.onHand : 0}}</td>
        </tr>
        <tr>
            <td class="buttons">
                Misery: {{PlayerService.player.misery.value}}m
                <button (click)="adjustMisery(-1)">-1 level</button> &nbsp;
                <button (click)="adjustMisery(1)">+1 level</button> &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr *ngIf="miseryChange.increases > 0" >
                        <th>{{miseryChange.increases}} Misery Increase</th>
                        <td>{{miseryChange.fromIncreases}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.fromAdvances > 0">
                        <th>Misery relief</th>
                        <td>-{{miseryChange.fromAdvances}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.increases > 0" >
                        <th> = From advances</th>
                        <td>{{miseryChange.subtotal}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.fromCash != 0">
                        <th> - Bought Relief</th>
                        <td>-{{miseryChange.fromCash}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.total != 0">
                        <th> = Misery</th>
                        <td>{{miseryChange.total}}m</td>
                    </tr>
                    <tr>
                        <th>Misery Index</th>
                        <td>
                            <span *ngIf="miseryChange.change > 0">⇧ {{abs(miseryChange.change)}}</span>
                            <span *ngIf="miseryChange.change < 0">⇩ {{abs(miseryChange.change)}}</span>
                            <span *ngIf="miseryChange.change == 0">-</span>
                        </td>
                    </tr>
                    <tr><td><span> Max {{PlayerService.miseryReliefLevels}} ⇩</span></td></tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="buttons" colspan="2">
                Misery relief:
                <button (click)="buyMR(-10)">-$10</button> &nbsp;
                <button (click)="buyMR(-5)">-$5</button> &nbsp;
                <button (click)="buyMR(-1)">-$1</button> &nbsp;
                <button (click)="buyMR(1)">+$1</button> &nbsp;
                <button (click)="buyMR(5)">+$5</button> &nbsp;
                <button (click)="buyMR(10)">+$10</button>
            </td>
        </tr>
        <tr>
            <th> + on Misery Relief</th>
            <td class="top">${{spending.onMisery}}</td>
        </tr>
        <tr>
            <th> = Total:</th><td>${{spending.subtotal}}</td>
        </tr>
        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>
        <tr>
            <th>Started with</th><td>${{PlayerService.player.$}}</td>
        </tr>
        <tr>
            <th> - spending</th><td>${{spending.subtotal}}</td>
        </tr>
        <tr>
            <th> = Savings:</th><td>${{spending.savings}}</td>
        </tr>
        <tr *ngIf="spending.interest != 0">
            <th> + Interest & Profit</th>
            <td>${{spending.interest}}</td>
        </tr>
        <tr>
            <th>
                <button (click)="cities(-1)">-1</button> &nbsp;
                <button (click)="cities(1)">+1</button> &nbsp;
                + {{PlayerService.player.cities}} Cities
                <span *ngIf="spending.middleClass != 0">+ Middle Class</span>
            </th>
            <td>${{spending.earnings + spending.middleClass}}</td>
        </tr>
        <tr>
            <th>After Income</th>
            <td>${{spending.afterIncome}}</td>
        </tr>

        <tr>
            <td class="buttons" colspan="2">
                Tokens:
                <button (click)="buyTokens(-5)">-5▣</button> &nbsp;
                <button (click)="buyTokens(-1)">-1▣</button> &nbsp;
                <button (click)="buyTokens(1)">+1▣</button> &nbsp;
                <button (click)="buyTokens(5)">+5▣</button>
            </td>
        </tr>
        <tr>
            <th> + on {{RoundService.buyingTokens}}▣ Tokens</th>
            <td class="top">${{RoundService.buyingTokens}}</td>
        </tr>

        <tr>
            <th> = Next turn cash</th>
            <td>${{spending.nextTurn}}</td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="GameService.nextTurn()">NEXT TURN</button> (no undo!)
            </td>
        </tr>
    </table>
</div>

<br />
<table id="turns" [cellPadding]="0" [cellSpacing]="0" >
    <tr>
        <th>Total</th>
        <th>Turn</th>
        <th>Tokens</th>
        <th>Cash</th>
    </tr>
    <tr *ngFor="let round of RoundService.roundLog()">
        <td>{{round.total}}</td><td>{{round.i}}</td><td>{{round.tokens}}</td><td>{{round.cash}}</td>
    </tr>
</table>

<!-- TODO Cathedral usage? -->
</div>
