<div id="content">
<h2>TURN LOG</h2>
<table id="bids" [cellPadding]="0" [cellSpacing]="0" >
    <tr><th [colSpan]="GameService.bids.length">Capital bids</th></tr>
    <tr>
        <td *ngFor="let bid of GameService.bids">{{bid.name}}<br>{{bid.nation}} ({{bid.$}})</td>
    </tr>
</table>

<br />
<div>
    <h3>Turn {{RoundService.round}}</h3>
    <table id="spending" [cellPadding]="5" [cellSpacing]="5">
        <tr>
            <th>Current Misary index</th>
            <td>{{PlayerService.player.misery.level}}m</td>
        </tr>
        <tr>
            <th>Tokens to spend</th>
            <td>&#9632; {{RoundService.exploreTokens}}</td>
        </tr>
        <tr>
            <th>Written money</th>
            <td>${{spending.startedWith}}</td>
        </tr>
        <tr *ngIf="PlayerService.player.owns('V')">
            <th> + <button (click)="buyCard()">Buy Card?</button></th>
            <td>${{spending.onCard}}</td>
        </tr>
        <tr *ngFor="let a of RoundService.advances">
            <td class="tar"> + {{a.name}}</td>
            <td>${{a.cost}}</td>
        </tr>
        <tr *ngIf="spending.onAdvances != 0">
            <th> = On Advances:</th>
            <td>${{spending.onAdvances}}</td>
        </tr>
        <tr>
            <td>
                Cards : {{RoundService.hand}} costs ${{spending.onHand}}
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <button (click)="handSize(-1)">-</button> &nbsp;
                <button (click)="handSize(1)">+</button> &nbsp;
                <button (click)="toggleStabilization()">Pay?</button>
            </td>
        </tr>
        <tr *ngIf="spending.onHand > 0">
            <th> + on Hand Stabilization</th>
            <td>${{RoundService.payingStabiliztion ? spending.onHand : 0}}</td>
        </tr>

        <tr>
            <td>
                <table>
                    <tr *ngIf="miseryChange.increases > 0" >
                        <th>{{miseryChange.increases}} Misary Increase</th>
                        <td>{{miseryChange.fromIncreases}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.fromAdvances > 0">
                        <th>Misary relief</th>
                        <td>-{{miseryChange.fromAdvances}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.increases > 0" >
                        <th> = From advances</th>
                        <td>{{miseryChange.subtotal}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.fromCash != 0">
                        <th> - Bought Relief</th>
                        <td>-{{miseryChange.fromCash}}m</td>
                    </tr>
                    <tr *ngIf="miseryChange.total != 0">
                        <th> = Misary</th>
                        <td>{{miseryChange.total}}m</td>
                    </tr>
                    <tr>
                        <th>Misary Index</th>
                        <td>
                            <span *ngIf="miseryChange.change > 0">UP {{abs(miseryChange.change)}}</span>
                            <span *ngIf="miseryChange.change < 0">DOWN {{abs(miseryChange.change)}}</span>
                            <span *ngIf="miseryChange.change == 0">unchanged</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <button (click)="buyMR(-5)">--</button> &nbsp;
                <button (click)="buyMR(-1)">-</button> &nbsp;
                <button (click)="buyMR(1)">+</button> &nbsp;
                <button (click)="buyMR(5)">++</button>
            </td>
        </tr><tr>
            <th> + on Misary Relief</th>
            <td class="top">${{spending.onMisary}}</td>
        </tr>
        <tr>
            <th> = Total:</th><td>${{spending.subtotal}}</td>
        </tr>
        <tr>
            <td colspan="2"> &nbsp; </td>
        </tr>
        <tr>
            <th>Started with</th><td>${{PlayerService.player.$}}</td>
        </tr>
        <tr>
            <th> - spending</th><td>${{spending.subtotal}}</td>
        </tr>
        <tr>
            <th> = Savings:</th><td>${{spending.savings}}</td>
        </tr>
        <tr *ngIf="spending.interest != 0">
            <th> + Interest & Profit</th>
            <td>${{spending.interest}}</td>
        </tr>
        <tr>
            <th>
                <button (click)="cities(-1)">-</button> &nbsp;
                <button (click)="cities(1)">+</button> &nbsp;
                 + {{PlayerService.player.cities}} Cities</th>
            <td>${{spending.earnings}}</td>
        </tr>
        <tr *ngIf="spending.middleClass != 0">
            <th> + Middle Class</th>
            <td>${{spending.middleClass}}</td>
        </tr>

        <tr>
            <th>After Income</th>
            <td>${{spending.afterIncome}}</td>
        </tr>

        <tr>
            <td>Tokens {{RoundService.tokens}}</td>
        </tr>
        <tr>
            <td class="buttons">
                <button (click)="buyTokens(-5)">--</button> &nbsp;
                <button (click)="buyTokens(-1)">-</button> &nbsp;
                <button (click)="buyTokens(1)">+</button> &nbsp;
                <button (click)="buyTokens(5)">++</button>
            </td>
        </tr>
        <tr>
            <th> + on Tokens</th>
            <td class="top">${{RoundService.tokens}}</td>
        </tr>

        <tr>
            <th> = Next turn cash</th>
            <td>${{spending.nextTurn}}</td>
        </tr>

        <tr>
            <td colspan="2">
                <button (click)="RoundService.apply()">NEXT TURN</button> (no undo!)
            </td>
        </tr>
    </table>
</div>

<br />
<table id="turns" [cellPadding]="0" [cellSpacing]="0" >
    <tr>
        <th>Total</th>
        <th>Turn</th>
        <th>Tokens</th>
        <th>Cash</th>
    </tr>
    <tr *ngFor="let round of GameService.rounds">
        <td>{{round.total}}</td><td>{{round.i}}</td><td>{{round.tokens}}</td><td>{{round.cash}}</td>
    </tr>
</table>

<!-- TODO Cathedral usage? -->
</div>
