
<table class="players" cellPadding="0" cellSpacing="0">

    <tr class="trodd"><th colspan="3">{{name}}</th></tr>
        
    <tr><td>&nbsp;</td><td>A</td><td>The Heavens</td></tr>
    <tr><td>&nbsp;</td><td>B</td><td>Human body</td></tr>
    <tr><td>&nbsp;</td><td>C</td><td>Laws of Matter</td></tr>
    <tr><td>&nbsp;</td><td>D</td><td>Enlightenment</td></tr>
    
    <tr class="trodd"><td>X</td><td>E</td><td>Patronage</td></tr>
    <tr class="trodd"><td>X</td><td>F</td><td>Holy Indulgence</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>G</td><td>Proselytism</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>H</td><td>Cathedral</td></tr>
    
    <tr><td>X</td><td>I</td><td>Caravan</td></tr>
    <tr><td>X</td><td>J</td><td>Wind/Watermill</td></tr>
    <tr><td>X</td><td>K</td><td>Improved Agriculture</td></tr>
    <tr><td>X</td><td>L</td><td>Interest & Profit</td></tr>
    <tr><td>&nbsp;</td><td>M</td><td>Industry</td></tr>
    
    <tr class="trodd"><td>&nbsp;</td><td>N</td><td>Written Record</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>O</td><td>Printed Word</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>P</td><td>Master art</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>Q</td><td>Renaissance</td></tr>
    
    <tr><td>&nbsp;</td><td>R</td><td>Overland east</td></tr>
    <tr><td>X</td><td>S</td><td>Seaworthy vessels</td></tr>
    <tr><td>&nbsp;</td><td>T</td><td>Ocean navigation</td></tr>
    <tr><td>&nbsp;</td><td>U</td><td>New world</td></tr>
    
    <tr class="trodd"><td>&nbsp;</td><td>V</td><td>Urban Ascendancy</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>W</td><td>Nationalism</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>X</td><td>Institutional Research</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>Y</td><td>Cosmopolitan</td></tr>
    <tr class="trodd"><td>&nbsp;</td><td>Z</td><td>Middle Class</td></tr>

</table>
