table.players {
    float: left;
    font-size: 83%;
    margin:0 2em 2em 0;
    td {
        padding: 2px 4px;
    }
    td.pointer { cursor: pointer; }
    th {
        padding: 0.75em 0 5px;
    }
    th.player {
        font-size: 2em;
    }
    th.category {
        font-size: 1.2em;
        text-transform: capitalize;
    }
    tr:nth-child(odd) {
        color: #111;
        td {
            background-color: lightblue;
        }
        td.owned {
            background-color:pink;
        }
    }

    tr:nth-child(even) {
        color: #111;
        td {
            background-color: rgb(144, 193, 209);
        }
        td.owned {
            background-color: rgb(236, 170, 181);
        }
    }
}