<h3>Who takes what?</h3>
<p>Note down the winning bids</p>
<form #f="ngForm" (submit)="submit(f)">
  <fieldset>
    <legend>Nations</legend>

    <div class="n">
      <mat-form-field appearance="fill">
        <mat-label>Choose your Start City</mat-label>
        <mat-select required="true" empty="true" (selectionChange)="selectedFor($event, 'user')">
          <mat-option *ngFor="let nation of allNations" value="{{nation}}" [disabled]="!availableNations.has(nation)" >{{nation}}</mat-option>
          <mat-option style="color:#999"> -- </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="n" *ngFor="let key of playerKeys">

      <!-- <input ngModel type="number" [name]="'player-bid-'+key" placeholder="Their bid?"> -->

      <mat-form-field appearance="fill">
        <mat-label>Start City for {{playerNames[key]}}</mat-label>
        <mat-select required="true" empty="true" (selectionChange)="selectedFor($event, key)">
          <mat-option *ngFor="let nation of allNations" value="{{nation}}" [disabled]="!availableNations.has(nation)" >{{nation}}</mat-option>
          <mat-option style="color:#999"> -- </mat-option>
        </mat-select>
      </mat-form-field> &nbsp;
      <mat-slider
          (change)="bidFor($event, key)"
          thumbLabel
          tickInterval="1"
          step="1"
          min="0"
          max="10"
          aria-label="units"></mat-slider>
    </div>

    <input type="submit" value="Apply">
  </fieldset>
</form>
