<h3>Who takes what?</h3>
<p>Note down the winning bids</p>
<form #f="ngForm" (submit)="submit(f)">
  <fieldset>
    <legend>Nations</legend>
    <div class="n">
      <label>You
        <select ngModel name="myNation" class="nation-select">
          <option *ngFor="let nation of availableNations" value="{{nation}}" >{{nation}}</option>
        </select>
      </label>
    </div>

    <div class="n" *ngFor="let key of playerKeys">
      <label>{{playerNames[key]}}
        <select ngModel [name]="'player-nation-'+key" class="nation-select">
          <option *ngFor="let nation of availableNations" value="{{nation}}" >{{nation}}</option>
        </select>
      </label> &nbsp;
      <input ngModel type="number" [name]="'player-bid-'+key" placeholder="Their bid?">
    </div>

    <input type="submit" value="Apply">
  </fieldset>
</form>
